<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Labels</title>


    <link rel="stylesheet" type="text/css" href="/stylesheets/elephantLocationMap.css">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkVVs41NzPFE11JfSpNzzn4ytpYaTegJY"></script>
    <script src="javascripts/elephantLocations.js"></script>

</head>
<body>
<div id="map"></div>
</body>
</html>