<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="elephantFenceMap">elephant Fence Map</a>
    <br><br>
    <br><br>
    <a href="elephantLocations">elephant Location Map</a>
  </body>
</html>
