<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/newAll.css">
    <script src="javascripts/newAll.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzsyf0H4AE0XRENAVWw-CvvqhqXxTTIes&callback=initMap"> </script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polylines</title>
</head>
<body>
<div id="map"></div>
supun
<div id="demo"></div>
<div><input type="submit" onclick="saveLocation()" value="save"></div>
<div><input type="submit" onclick="selectStat()" value="ElephantLocation"></div>
</body>
</html>