<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="/public/javascripts/xx.js"></script>
</head>
<body style="background-color:powderblue;">
<h1> </h1>
<p>Sri lanka  </p>
<h1></h1>


</body>
</html>

